<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Webpixels">

    <title>Diversely - Home</title>
    {% load static %}
    <!-- Favicon -->
    <link href="{% static 'img/brand/favicon.png' %}" rel="icon" type="image/png">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" href="{% static 'vendor/fontawesome/css/all.min.css' %}">

    <!-- Page plugins -->
    <link rel="stylesheet" href="{% static 'vendor/animate/animate.min.css' %}">
    <link type="text/css" href="{% static 'vendor/swiper/css/swiper.min.css' %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link type="text/css" href="{% static 'css/theme.css' %}" rel="stylesheet">
</head>

<body class="bg-gradient-white">
    <header class="header-transparent" id="header-main">
      <!-- Topbar -->
              <div id="navbar-top-main" class="navbar-top  navbar-dark bg-custom border-bottom">
                  <div class="container">
                      <div class="navbar-nav align-items-center">
                          <div class="d-none d-lg-inline-block">
                              <span class="navbar-text mr-3">Diversely NYC</span>
                          </div>
                          <div>
                              <ul class="nav">
                                  <li class="nav-item dropdown ml-lg-2 dropdown-animate" data-toggle="hover">
                                      <a class="nav-link px-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          <img alt="Image placeholder" src="{% static 'img/icons/flags/us.svg' %}">
                                          <span class="d-none d-lg-inline-block">English</span>
                                          <span class="d-lg-none">EN</span>
                                      </a>
                                      <div class="dropdown-menu dropdown-menu-sm dropdown-menu-arrow">
                                          <a href="" class="dropdown-item">
                                              <img alt="Image placeholder" src="{% static 'img/icons/flags/do.svg' %}">Spanish</a>
                                          <a href="" class="dropdown-item">
                                              <img alt="Image placeholder" src="{% static 'img/icons/flags/jp.svg' %}">Japanese</a>
                                      </div>
                                  </li>
                              </ul>
                          </div>
                          <div class="ml-auto">
                              <ul class="nav">
                                  <li class="nav-item">
                                      <a class="nav-link" href="#">Support</a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" href="#"><i class="fas fa-shopping-cart"></i></a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" href="#"><i class="fas fa-user-circle"></i></a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>


              <!-- Main navbar -->

              <nav class="navbar navbar-main navbar-expand-lg navbar-fixed-top navbar-transparent navbar-dark bg-custom" id="navbar-main">
                  <div class="container">
                      <a class="navbar-brand mr-lg-5" href="/">
                          <!--- <img src="{% static 'img/brand/white.png' %}" alt="Footer logo" style="height: 70px;"> -->
                      </a>

                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                      </button>

                      <div class="collapse navbar-collapse" id="navbar-main-collapse">
                          <ul class="navbar-nav align-items-lg-center">
                              <li class="nav-item ">
                                  <a class="nav-link" href="/">Home</a>
                              </li>
                              <li class="nav-item dropdown dropdown-animate" data-toggle="hover">
                                  <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
                                  <div class="dropdown-menu dropdown-menu-lg dropdown-menu-arrow py-0">
                                      <div class="list-group">
                                          <a href="#" class="list-group-item list-group-item-action">
                                              <div class="media d-flex align-items-center">
                                                  <img alt="Image placeholder" src="{% static 'img/icons/dusk/png/code.png' %}" class="img-saturate" style="width: 50px;">
                                                  <div class="media-body ml-3">
                                                      <h6 class="mb-1">Problem Solving</h6>
                                                      <p class="mb-0">A great point to start from.</p>
                                                  </div>
                                              </div>
                                          </a>
                                          <a href="#" class="list-group-item list-group-item-action">
                                              <div class="media d-flex align-items-center">
                                                  <img alt="Image placeholder" src="{% static 'img/icons/dusk/png/google-mobile.png' %}" class="img-saturate" style="width: 50px;">
                                                  <div class="media-body ml-3">
                                                      <h6 class="mb-1">Service 2</h6>
                                                      <p class="mb-0">Build your website with these demos.</p>
                                                  </div>
                                              </div>
                                          </a>
                                          <a href="#" class="list-group-item list-group-item-action">
                                              <div class="media d-flex align-items-center">
                                                  <img alt="Image placeholder" src="{% static 'img/icons/dusk/png/paint-palette.png' %}" class="img-saturate" style="width: 50px;">
                                                  <div class="media-body ml-3">
                                                      <h6 class="mb-1">Service 3</h6>
                                                      <p class="mb-0">Account management made easy.</p>
                                                  </div>
                                              </div>
                                          </a>
                                          <a href="#" class="list-group-item list-group-item-action">
                                              <div class="media d-flex align-items-center">
                                                  <img alt="Image placeholder" src="{% static 'img/icons/dusk/png/accounting.png' %}" class="img-saturate" style="width: 50px;">
                                                  <div class="media-body ml-3">
                                                      <h6 class="mb-1">Service 4</h6>
                                                      <p class="mb-0">Explore the full ecommerce website flow.</p>
                                                  </div>
                                              </div>
                                          </a>
                                      </div>
                                  </div>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="#" role="button">About</a>
                              </li>
                          </ul>

                          <ul class="navbar-nav align-items-lg-center ml-lg-auto">
                              <li class="nav-item">
                                  <a class="nav-link" href="faq">Faq</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="#">Blog</a>
                              </li>
                              <li class="nav-item mr-0">
                                  <a href="#" class="nav-link d-lg-none">Free consultation</a>
                                  <a href="#" class="btn btn-sm btn-white btn-circle btn-icon d-none d-lg-inline-flex">
                                      <span class="btn-inner--icon"><i class="fas fa-shopping-cart"></i></span>
                                      <span class="btn-inner--text">Free consultation</span>
                                  </a>
                              </li>
                          </ul>

                      </div>
                  </div>
              </nav>

    </header>

    {% block content %}{% endblock %}

    <footer class="footer footer-dark bg-custom">
        <div class="container">
            <div class="row pt-md">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <a href="index.html">
                        <!--- <img src="{% static 'img/brand/white.png' %}" alt="Footer logo" style="height: 70px;"> -->
                    </a>
                    <p class="text-sm">A unique and beautiful collection of UI elements that are all flexible and modular. A complete and customizable solution to building the website of your dreams.</p>
                </div>
                <div class="col-lg-2 col-6 col-sm-4 ml-lg-auto mb-5 mb-lg-0">
                </div>
                <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0">
                    <h6 class="heading mb-3">About</h6>
                    <ul class="list-unstyled text-small">
                        <li><a href="#">Services</a>
                        </li>
                        <li><a href="#">Contact</a>
                        </li>
                        <li><a href="#">Careers</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-sm-4 mb-5 mb-lg-0">
                    <h6 class="heading mb-3">Company</h6>
                    <ul class="list-unstyled">
                        <li><a href="faq">FAQ</a>
                        </li>
                        <li><a href="#">Terms & Privacy</a>
                        </li>
                        <li><a href="#">Support</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row align-items-center justify-content-md-between py-4 mt-4 delimiter-top">
                <div class="col-md-6">
                    <div class="copyright text-sm font-weight-bold text-center text-md-left">
                        &copy; 2018 <a href="#" class="font-weight-bold" target="_blank">Diversely NYC</a>. All rights reserved.
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#" target="_blank">
                                <i class="fab fa-dribbble"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" target="_blank">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" target="_blank">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <!-- Core -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/popper/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/sticky-kit/sticky-kit.min.js' %}"></script>


    <!-- Page plugins -->
    <script src="{% static 'vendor/typed/typed.min.js' %}"></script>


    <!-- Theme JS -->
    <script src="{% static 'js/theme.min.js' %}"></script>

</body>

</html>
