{% extends "base.html" %}
{% block content %}

{% load static %}
<section class="slice slice-xs pb-xs bg-dark">

</section>
<section class="slice slice-xs pb-xs bg-white">
  <div class="container">
    <div class="custom-control custom-checkbox mb-3">
      <input type="checkbox" class="custom-control-input" id="customCheck1">
      <label class="custom-control-label" for="customCheck1">Unchecked</label>
  </div>
  <div class="custom-control custom-checkbox mb-3">
      <input type="checkbox" class="custom-control-input" id="customCheck2" checked="">
      <label class="custom-control-label" for="customCheck2">Checked</label>
  </div>
</div>

</section>


{% endblock %}
