{% extends "base.html" %}
{% block content %}

<main>
{% load static %}
        <!-- Spotlight -->
        <section class="slice slice-xl bg-custom bg-cover bg-size--contain" style="padding-bottom: 250px; background-image: url('{% static 'img/backgrounds/clouds-bottom.png' %}'); background-position: center bottom;">
            <div class="container">
                <div class="row row-grid align-items-center justify-content-center">
                    <div class="col-lg-6">
                        <div class="pt-lg-md pb-lg-md text-center">
                            <h2 class="heading h1 text-white mb-3">Frequently Asded Questions</h2>
                            <p class="lead lh-180 text-white">Build responsive, mobile-first projects on the web with the world's most popular front-end component library.</p>
                            <a href="#" class="btn btn-outline-white btn-icon btn-circle btn-translate--hover">
                              <span class="btn-inner--icon"><i class="fas fa-angle-right"></i></span>
                              <span class="btn-inner--text">Learn more</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="slice slice-sm" id="sct-faq">
            <div class="container">
                <div class="row row-grid">
                    <div class="col-lg-3">
                        <div class="card" data-toggle="sticky" data-sticky-offset="100">
                            <div class="card-header py-3">
                                <span class="h6">Faq</span>
                            </div>
                            <div class="list-group list-group-flush">
                                <a href="#section_1" data-scroll-to data-scroll-to-offset="50" class="list-group-item list-group-item-action d-flex justify-content-between">
                                    <div>
                                        <i class="fas fa-desktop mr-2"></i>
                                        <span>Theme integration</span>
                                    </div>
                                    <div>
                                        <i class="fas fa-angle-right"></i>
                                    </div>
                                </a>
                                <a href="#section_2" data-scroll-to data-scroll-to-offset="50" class="list-group-item list-group-item-action d-flex justify-content-between">
                                    <div>
                                        <i class="fas fa-hand-pointer mr-2"></i>
                                        <span>Customization</span>
                                    </div>
                                    <div>
                                        <i class="fas fa-angle-right"></i>
                                    </div>
                                </a>
                                <a href="#section_3" data-scroll-to data-scroll-to-offset="50" class="list-group-item list-group-item-action d-flex justify-content-between">
                                    <div>
                                        <i class="fas fa-tint mr-2"></i>
                                        <span>Fonts and colors</span>
                                    </div>
                                    <div>
                                        <i class="fas fa-angle-right"></i>
                                    </div>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between">
                                    <div>
                                        <i class="fas fa-cloud mr-2"></i>
                                        <span>Updates</span>
                                    </div>
                                    <div>
                                        <i class="fas fa-angle-right"></i>
                                    </div>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between">
                                    <div>
                                        <i class="fas fa-at mr-2"></i>
                                        <span>Premium support</span>
                                    </div>
                                    <div>
                                        <i class="fas fa-angle-right"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 ml-lg-auto">
                        <div class="mb-md">
                            <h4 class="mb-4" id="section_1">Theme integration</h4>
                            <div class="py-4 border-bottom">
                                <h5 class="mb-3">Q: How to get started with Diversely?</h5>
                                <p class=" mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                    make a type specimen book.</p>
                            </div>
                            <div class="py-4 border-bottom">
                                <h5 class="mb-3">Q: How can I start a new project using this theme?</h5>
                                <p class=" mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                    make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                            </div>
                            <div class="py-4 border-bottom">
                                <h5 class="mb-3">Q: How can I create custom user files?</h5>
                                <p class=" mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                    make a type specimen book.</p>
                            </div>
                            <div class="text-right py-4">
                                <a href="#section_1" data-scroll-to data-scroll-to-offset="50" class="text-dark text-sm font-weight-bold">Back to top<i class="fas fa-long-arrow-alt-up ml-2"></i></a>
                            </div>
                        </div>
                        <div class="mb-md">
                            <h4 class="mb-4" id="section_2">Customization</h4>
                            <div class="py-4 border-bottom">
                                <h5 class="mb-3">Q: How to get started with Purpose?</h5>
                                <p class=" mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                    make a type specimen book.</p>
                            </div>
                            <div class="py-4 border-bottom">
                                <h5 class="mb-3">Q: How can I start a new project using this theme?</h5>
                                <p class=" mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                    make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                            </div>
                            <div class="py-4 border-bottom">
                                <h5 class="mb-3">Q: How can I create custom user files?</h5>
                                <p class=" mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                    make a type specimen book.</p>
                            </div>
                            <div class="text-right py-4">
                                <a href="#section_1" data-scroll-to data-scroll-to-offset="50" class="text-dark text-sm font-weight-bold">Back to top<i class="fas fa-long-arrow-alt-up ml-2"></i></a>
                            </div>
                        </div>
                        <div class="mb-md">
                            <h4 class="mb-4" id="section_3">Fonts and colors</h4>
                            <div class="py-4 border-bottom">
                                <h5 class="mb-3">Q: How to get started with Purpose?</h5>
                                <p class=" mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                    make a type specimen book.</p>
                            </div>
                            <div class="py-4 border-bottom">
                                <h5 class="mb-3">Q: How can I start a new project using this theme?</h5>
                                <p class=" mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                    make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                            </div>
                            <div class="py-4 border-bottom">
                                <h5 class="mb-3">Q: How can I create custom user files?</h5>
                                <p class=" mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                    make a type specimen book.</p>
                            </div>
                            <div class="text-right py-4">
                                <a href="#section_1" data-scroll-to data-scroll-to-offset="50" class="text-dark text-sm font-weight-bold">Back to top<i class="fas fa-long-arrow-alt-up ml-2"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Call to action -->
    </main>
{% endblock %}
