{% extends "base.html" %}
{% block content %}

{% load static %}
<section class="slice slice-xs pb-xs bg-dark">

</section>
<section class="slice slice-sm">
            <div class="container pt-lg">
                <div class="row row-grid">
                    <div class="col-lg-5">
                        <h2 class="heading h1">Creativity is a function of<br>Attitude.</h2>
                        <p class="lead my-4">Diversely can help widen your organization's knowledge base, provide your teams with tools to problem solve imaginatively, and transform the way you approach and structure evaluation.</p>
                        <small> <a class="text-darker font-weight-bold" href="faq">Learn more about our services.</a></small>
                        <div class="mt-5">
                          <a href="consultation" class="btn btn-outline-darker btn-icon btn-circle btn-translate--hover">
                            <span class="btn-inner--icon"><i class="fas fa-angle-right"></i></span>
                            <span class="btn-inner--text">Build your package</span></a>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="card card-pricing popular box-shadow-3 text-center px-3 mb-4">
                            <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-dark text-light box-shadow-2">Knowledge</span>
                            <div class="card-header py-5">
                                <h1 class="h1 font-weight-700 text-dark text-center mb-0" data-pricing-value="30">$<span class="price">Price</span><span class="h6 ml-2">/ service</span></h1>
                            </div>
                            <div class="card-body py-4">
                                <ul class="list-unstyled mb-0">
                                    <li>first benefit</li>
                                    <li>second benefit</li>
                                    <li>third benefit</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-pricing popular text-center px-3 mb-4">
                            <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-dark text-light box-shadow-2">Skill</span>
                            <div class="card-header py-5">
                                <h1 class="h1 font-weight-700 text-dark text-center mb-0" data-pricing-value="30">$<span class="price">Price</span><span class="h6 ml-2">/ per service</span></h1>
                            </div>
                            <div class="card-body py-4">
                                <ul class="list-unstyled mb-0">
                                  <li>first benefit</li>
                                  <li>second benefit</li>
                                  <li>third benefit</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<section class="slice slice-lg delimiter-top bg-dark">
  <span class="tongue tongue-top"><i class="fas fa-angle-up"></i></span>
  <div class="container">

    <div class="row">
      <div class="col-lg-6">
        <div id="accordion_1" data-accordion="1">
            <div class="card mb-3">
              <div class="card-header bg-secondary py-4 collapsed" id="heading_1_2" data-toggle="collapse" data-target="#collapse_1_2" aria-expanded="false" aria-controls="collapse_1_2">
                <h5 class="heading h5 font-weight-normal mb-0"><i class="fab fa-safari mr-3"></i>Knowledge-base</h5>
              </div>

              <div id="collapse_1_2" class="collapse" aria-labelledby="heading_1_2" data-parent="#accordion_1">
                <div class="card-body">
                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
                    3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                  </div>
                </div>
              </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div id="accordion_1" data-accordion="1">
                <div class="card mb-3">
                  <div class="card-header bg-secondary py-4 collapsed" id="heading_1_1" data-toggle="collapse" data-target="#collapse_1_1" aria-expanded="false" aria-controls="collapse_1_1">
                    <h5 class="heading h5 font-weight-normal mb-0"><i class="fas fa-file-pdf mr-3"></i>Skill-base</h5>
                  </div>

                  <div id="collapse_1_1" class="collapse" aria-labelledby="heading_1_1" data-parent="#accordion_1">
                    <div class="card-body">
                      <p>A recent study from the International Center for Studies in Creativity demonstrates the profound effects of creativity training on group productivity. Groups consisting of members who completed at least one creative studies course were able to generate 350% more ideas than groups consisting of members with no training in creativity when faced with a social challenge. More strikingly, groups with no training in creativity at all were able to produce 82% more ideas than the rest of their untrained peers when given a problem solving structure.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </section>
      <section class="slice slice-lg delimiter-top bg-white">

      </section>



{% endblock %}
