{% extends "base.html" %}
{% block content %}

{% load static %}
<section class="slice slice-xs pb-xs bg-dark">

</section>
<section class="slice slice-sm">
            <div class="container pt-lg">
                <div class="row row-grid">
                    <div class="col-lg-5">
                        <h2 class="heading h1">Creativity is a function of<br>Attitude.</h2>
                        <p class="lead my-4">Diversely can help widen your organization's knowledge base, provide your teams with tools to problem solve imaginatively, and transform the way you approach and structure evaluation.</p>
                        <small> <a class="text-darker font-weight-bold" href="faq">Learn more about our services.</a></small>
                        <div class="mt-5">
                          <a href="consultation" class="btn btn-outline-dark btn-icon btn-circle btn-translate--hover">
                            <span class="btn-inner--icon"><i class="fas fa-angle-right"></i></span>
                            <span class="btn-inner--text">Build your package</span></a>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="card card-pricing popular box-shadow-3 text-center px-3 mb-4">
                            <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-dark text-light box-shadow-2">Facilitation</span>
                            <div class="card-header py-5">
                                <h1 class="h1 font-weight-700 text-dark text-center mb-0" data-pricing-value="30">$<span class="price">200</span><span class="h6 ml-2">/ hr</span></h1>
                                <h6>One or two hour interactive workshops</h6>
                            </div>
                            <div class="card-body py-4">
                                <ul class="list-unstyled mb-0">
                                    <li>Problem Solving</li>
                                    <li>Culture Building</li>
                                    <li>Diversity & Inclusion</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-pricing popular text-center px-3 mb-4">
                            <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-dark text-light box-shadow-2">Training</span>
                            <div class="card-header py-5">
                                <h1 class="h1 font-weight-700 text-dark text-center mb-0" data-pricing-value="30">$<span class="price">150</span><span class="h6 ml-2">/ hr</span></h1>
                                <h6>One or two hour skill-building workshops</h6>
                            </div>
                            <div class="card-body py-4">
                                <ul class="list-unstyled mb-0">
                                  <li>Problem Solving</li>
                                  <li></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="slice slice-lg bg-secondary" style="padding-bottom: 200px;">
          <div class="container">
            <div class="row row-grid">
              <div class="col-lg-4">
                <div class="card shadow">
                  <div class="card-body py-5 px-lg-5">
                    <div>
                      <div class="icon text-primary mb-3">

                      </div>
                      <h5 class="heading h5">Download Purpose</h5>
                      <p>Some quick example text to build on the card title and make up the content.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card shadow">
                  <div class="card-body py-5 px-lg-5">
                    <div>
                      <div class="icon text-primary mb-3">

                      </div>
                      <h5 class="heading h5">Change appearance</h5>
                      <p>Some quick example text to build on the card title and make up the content.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card shadow">
                  <div class="card-body py-5 px-lg-5">
                    <div>
                      <div class="icon text-primary mb-3">

                      </div>
                      <h5 class="heading h5">Build your website</h5>
                      <p>Some quick example text to build on the card title and make up the content.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class="shape-container" data-shape-style="curve" data-shape-position="bottom">
          <svg class="shape-fill-white" fill="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
            <path d="M 0 0 c 0 0 200 50 500 50 s 500 -50 500 -50 v 101 h -1000 v -100 z"></path>
          </svg>
        </div>
        </section>




{% endblock %}
